* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[aria-hidden] {
  display: none;
}

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
}

:root {
  --color-green: #00ba40;
  --color-green-deep: #0db244;
  --color-black: #101a25;
}

.App {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  padding-left: 10px;
  max-width: 640px;
  margin: auto;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.title {
  font-size: 24px;
  text-transform: capitalize;
}

.header select {
  border: none;
  font-size: 24px;
  background: transparent;
  display: inline-block;
}

.screen {
  padding: 20px 16px;
  position: relative;
  border-radius: 5px;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
  background: var(--color-green);
}

.screen-shapes {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.screen-shape {
  position: absolute;
  bottom: -10px;
  width: 300px;
  height: 300px;
  background: rgba(255, 255, 255, 0.15);
  transform-origin: bottom right;
  transform: rotate(45deg);
}

.screen-shape-1 {
  right: 120px;
}

.screen-shape-2 {
  right: 0;
}

.screen-content {
  position: relative;
  display: block;
}

.screen .bill-input-label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}

.screen .bill-input-value {
  font-size: 45px;
}

.screen-info {
  margin-top: 14px;
  display: flex;
  justify-content: flex-end;
}

.screen-info-list {
  display: grid;
  gap: 5px;
}

.screen-info-list > div {
  display: grid;
  grid-template-columns: 80px auto;
  grid-gap: 10px;
  font-size: 14px;
  text-transform: uppercase;
}

.screen-info-list > div span:last-child {
  text-align: left;
  font-weight: 600;
}

.tips {
  display: flex;
  margin-bottom: 15px;
  flex-wrap: nowrap;
}

.tips > div {
  margin-right: 8px;
  flex-shrink: none;
}

.tips-radio-input {
  display: inline-block;
  cursor: pointer;
}

.tips-radio-input input {
  display: none;
}

.tips-radio-input > span {
  position: relative;
  display: inline-grid;
  place-items: center;
  border: 1px solid var(--color-gray, #ccc);
  padding: 8px 20px;
  border-radius: 3px;
  font-size: 14px;
}

@keyframes check-icon {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.tips-radio-input .check-icon {
  position: absolute;
  display: none;
  place-items: center;
  top: 0;
  right: 0;
  background: var(--color-green);
  width: 16px;
  height: 10px;
  font-size: 8px;
  color: white;
  animation: check-icon 0.2s ease;
}

.tips-radio-input input:checked ~ span {
  border-color: var(--color-green);
}

.tips-radio-input input:checked ~ span .check-icon {
  display: inline-grid;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.result {
  min-height: 200px;
  overflow: hidden;
}

.result-list-container {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  height: 100%;
  overflow: auto;
}

.result-list {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  animation: slide-down 0.4s ease;
  color: var(--color-black);
  padding: 0 2px;
}

.result-item {
  position: relative;
  display: grid;
  place-items: center;
  text-align: center;
}

.result-item:not(:last-child) {
  border-bottom: 1.4px solid #ddd;
}

.result-item-price {
  font-size: 2rem;
  font-weight: 800;
}

.result-item-person {
  font-size: 0.65rem;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.result-item-handle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  width: 2.2em;
  height: 2.2rem;
  border-radius: 50%;
  border: 1px solid #333;
  background: #fff;
  position: absolute;
  bottom: 0;
  right: 40px;
  z-index: 4;
  transform: translateY(50%);
  touch-action: pan-x;
}

.result-item-handle.locked {
  background: var(--color-green);
  border: var(--color-green);
  color: #fff;
}

.result-item-handle > span {
  display: inline-flex;
  flex-direction: column;
}

.split-btn-wrap {
  height: 70px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.split-btn {
  border: none;
  outline: none;
  border-radius: 3px;
  font-weight: 600;
  width: 100%;
  background: var(--color-green);
  color: white;
  height: 44px;
  margin-bottom: 20px;
  transition: 0.25s ease;
}

.split-btn:not(:disabled) {
  cursor: pointer;
}

.split-btn:disabled {
  filter: opacity(0.3);
}

.split-btn.edit {
  margin-bottom: 0;
  width: 80px;
  height: 40px;
  border-radius: 80px 80px 0 0;
}

.split-btn .edit-icon {
  display: inline-block;
  font-size: 20px;
  margin-top: 10px;
}

.box {
  width: 150px;
  height: 80px;
  border: 1px solid #ccc;
  margin: 2rem;
  position: relative;
  /* transition: all .15s ease; */
}

.box-handle {
  width: 28px;
  height: 28px;
  display: inline-grid;
  place-items: center;
  position: absolute;
  bottom: 0;
  right: 5px;
  border: 1px solid #ccc;
  border-radius: 100%;
  background: white;
  transform: translateY(50%);
}
