* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[aria-hidden] {
  display: none;
}

.App {
  --color-green: #00ba40;
  --color-green-deep: #0db244;
}

.App {
  font-family: sans-serif;
  padding: 10px;
}

.box {
  background: blue;
  width: 50px;
  height: 50px;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  text-transform: capitalize;
}

.screen {
  padding: 30px 10px;
  border: 1px solid var(--color-green);
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  color: white;
}

.screen-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--color-green);
}

.screen-bg-shape {
  position: absolute;
  bottom: -10px;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.15);
  transform-origin: bottom right;
  transform: rotate(45deg);
}

.screen-bg-shape-1 {
  right: 120px;
}

.screen-bg-shape-2 {
  right: 0;
}

.screen-content {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.screen .total-price p:first-child {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}

.screen .total-price p:last-child {
  font-size: 45px;
}

.screen .info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.screen .info > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  font-size: 14px;
  text-transform: uppercase;
}

.screen .info > div span:last-child {
  text-align: left;
  display: block;
}

.tips {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.tips-radio-input {
  display: inline-block;
  cursor: pointer;
}

.tips-radio-input input {
  display: none;
}

.tips-radio-input > span {
  position: relative;
  display: inline-grid;
  place-items: center;
  border: 1px solid var(--color-gray, #ccc);
  padding: 8px 20px;
  border-radius: 3px;
  font-size: 14px;
}

@keyframes check-icon {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.tips-radio-input .check-icon {
  position: absolute;
  display: none; /* inline-grid */
  place-items: center;
  top: 0;
  right: 0;
  background: var(--color-green);
  width: 16px;
  height: 10px;
  font-size: 8px;
  color: white;
  animation: check-icon 0.2s ease;
}

.tips-radio-input input:checked ~ span {
  border-color: var(--color-green);
}

.tips-radio-input input:checked ~ span .check-icon {
  display: inline-grid;
}

.numpad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.numpad button {
  border: none;
  outline: none;
  height: 40px;
}

.numpad button.clear {
  color: red;
  font-size: 20px;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.result-list {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  animation: slide-down 0.4s ease;
}

.result-item {
  display: grid;
  place-items: center;
  text-align: center;
  padding: 24px 0;
}

.result-item:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.result-item-price {
  font-size: 25px;
  font-weight: 800;
}

.result-item-person {
  font-size: 12px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.split-btn-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 10px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
}

.split-btn {
  border: none;
  outline: none;
  border-radius: 3px;
  font-weight: 600;
  width: 100%;
  background: var(--color-green);
  color: white;
  height: 40px;
  margin-bottom: 20px;
  transition: 0.25s ease;
}

.split-btn:not(:disabled) {
  cursor: pointer;
}

.split-btn:disabled {
  opacity: 0.85;
}

.split-btn.edit {
  margin-bottom: 0;
  width: 40px;
  height: 40px;
}
